@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --lightBackGround-color: rgb(82, 151, 151);
    --darkBackground-color: rgb(2, 52, 52);
    --text-color: rgb(179, 238, 238);;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--darkBackground-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color); 
    border-radius: 10px; 

}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, var(--lightBackGround-color), var(--darkBackground-color));
    justify-content: center;
    margin: 0;
    scroll-behavior: smooth;
}

section h2 {
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 20px 0;

}

section h2::before,
section h2::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 10rem;
    height: 1px;
    background-color: rgb(187, 242, 242);
}

section h2::before {
    left: -12rem; 
}

section h2::after {
    right: -12rem; 
}

nav {
    height: 2vh;
    padding: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    font-size: 1.5rem;
    color: white;
    z-index: 1;
    width: 100%; 
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav ul > :first-child {
    border-left: 1px solid white;
}

nav ul li {
    display: inline;
    border-right: 1px solid white; 
    padding: 0 1rem;
}

nav ul li a:hover {
    color: var(--text-color); 
}

section {
    min-height: 90vh;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section h1 {
    font-size: 2rem;
    color: var(--text-color);
}

section h1 {
    font-size: 2rem;
}


section p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    max-width: 1000px;
    line-height: 1.5;
    
}

#howestLink {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

#howestLink::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0; 
    height: 2px; 
    background-color: var(--text-color);
    transition: width 0.3s ease, left 0.3s ease; 
}

#howestLink:hover::after {
    width: 100%;
}

#skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "Frontend ."
                         ". Backend";
    gap: 5rem;
    margin-top: 2rem;
}

#frontend {
    grid-area: Frontend;
    max-width: 56.25rem;    
}

#backend {
    grid-area: Backend; 
    max-width: 56.25rem;
}


#contactMe{
    display: flex;
    justify-content: center;
    border: 1px solid var(--text-color);
    border-radius: 5%;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 6rem;
    color: white;
    text-decoration: none;
    
}

#contactMe:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}

#contactContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "Email Socials";
    gap: 5rem;
}

#email {
    grid-area: Email;
    max-width: 30rem;
}

#socials {
    grid-area: Socials;
    max-width: 30rem;
}

.socialMediaLink {
    display: flex;
    align-items: center;
    margin: 0.5rem auto auto auto;
    color: inherit;
    text-decoration: none;
    padding:auto;
    max-width: 8rem;
}

.socialMediaLink:hover {
    transform: translateY(-2px);
}

.socialIcon {
    width: 3.5rem;
    height: 3.5rem; 
}

footer{
    margin: 0 0 0.5rem 1rem;
    color: white;
}





